.rja-shipping-badge-admin .rja-shipping-badge-table {
    margin-top: 6px;
}

.rja-shipping-badge-admin .rja-shipping-badge-table th,
.rja-shipping-badge-admin .rja-shipping-badge-table td {
    padding: 4px 6px;
}

.rja-shipping-badge-admin .rja-shipping-badge-table input[type="text"] {
    font-size: 12px;
}

.rja-shipping-badge-admin .rja-shipping-badge-table select {
    font-size: 12px;
}
